.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-image {
    width: 100%;
    height: auto;
}

.close-icon {
    width:20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.close-icon:hover {
    cursor: pointer;
}