* {
  box-sizing: border-box;
}

body {
  font: 'Roboto', sans-serif;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app {
  background-color: #c2eeff
}

.header {
  color: #4c4c4c;
  font-size: 1.4em;
  line-height: 200px;
  letter-spacing: 1px;
  padding-left: 10px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-basis: 0;
}

@media (max-width: 700px) {
  .header {
    font-size: 1em;
  }
}

